.dashborad-wrapper{ padding: 30px 0 100px;}
.dashborad-wrapper .breadcrumb{ margin-bottom: 30px; }
.dashborad-wrapper .dashborad-left-side ul{ padding-left: 0;  display: flex; flex-wrap: wrap; justify-content: space-between; }
.dashborad-wrapper .dashborad-left-side ul li::marker{ content: none;  }
.dashborad-wrapper .dashborad-left-side ul li:first-child{ max-width: 100%; flex: 0 0 100%; }
.dashborad-wrapper .dashborad-left-side ul li:first-child h5{ float: right;}
.dashborad-wrapper .dashborad-left-side ul li:first-child h5 a{ padding-right: 25px; position: relative;}
.dashborad-wrapper .dashborad-left-side ul li:first-child .green-color a{ color:#0AD188}
.dashborad-wrapper .dashborad-left-side ul li:first-child .green-color a:hover{ color:#262E3A}
.dashborad-left-side ul li:first-child h5 a:after {    content: "";    border-top: 2px solid #262E3A;    border-right: 2px solid #262E3A;    display: inline-block;    position: absolute;    right: 3px;    height: 12px;    width: 12px;    top: 10px;    transform: rotate(45deg);}
.dashborad-wrapper .dashborad-left-side ul li:not(:first-child){ max-width: calc(50% - 15px); flex: 0 0 calc(50% - 15px); text-align: center; }
.dashborad-wrapper .dashborad-left-side ul li{     box-shadow: 0 0 20px rgb(0 0 0 / 15%);    border-radius: 5px;    padding: 25px 15px; margin-bottom: 15px; min-height: 100px; }
.dashborad-wrapper .dashborad-left-side p{     margin-bottom: 5px;    color: #262E3A;}
.dashborad-wrapper .dashborad-left-side span{ font-size: 14px; color: #989898; }
.dashborad-wrapper .dashborad-left-side h5{     font-size: 25px;    line-height: 32px;    font-weight: 600; margin-bottom: 0; }
.dashborad-wrapper .dashborad-left-side h5.green-color{ color: #0AD188;}
.dashborad-wrapper .dashborad-left-side h5.dark-green-color{ color: #02A707;}
.dashborad-wrapper .dashborad-left-side h5.orange-color{ color: #E69A00;}
.dashborad-wrapper .dashborad-left-side h5.red-color{ color: #ff0000;}
.dashborad-wrapper .dashborad-left-side h5.purple-color{ color:#A200FF}
.dashborad-wrapper h4{ margin-bottom: 0px;}
.dashborad-wrapper h4 a{ font-size: 18px;    font-weight: 600;    color: #0AD188;    line-height: 26px;    float: right;}
.dashborad-wrapper .col-md-8 .col-md-6{ margin-top: 40px;}


.order-details-wrapper{     padding: 30px 0 100px;}
.order-details-wrapper .row:first-child{ align-items: center; margin-bottom: 20px; }
.order-details-wrapper .row:first-child .col-md-6:last-child{ text-align: right; }
.order-detail ul{ padding-left: 0; display: flex; flex-wrap: wrap; justify-content: space-between; }
.order-detail ul li::marker{ content: none;}
.order-detail{ border: 2px solid #EFEFEF;   }
.order-detail ul:first-child{    padding: 10px 35px;    border-bottom: 2px solid #EFEFEF; margin-bottom: 0; }
.order-detail .order-detail-content{ padding: 35px 35px 25px; display: flex; flex-wrap: wrap;  }
.order-detail .order-detail-content .delivery-address{ max-width: 37%; flex: 0 0 37%; }
.order-detail .order-detail-content .payment-method{ max-width: 37%; flex: 0 0 37%; }
.order-detail .order-detail-content .payment-details{ max-width: 26%; flex: 0 0 26%; }
.order-detail .payment-details table{ width: 100%; }
.order-detail .payment-details table td:last-child{ text-align: right;}
.order-detail h6{     font-size: 16px;    line-height: 24px;    font-weight: 600;}
.order-detail .profile{  margin-bottom: 15px;   display: table;    border: 1px solid #0AD188;    padding: 5px 10px;    border-radius: 5px;}
.order-detail .profile img{ display: inline-block; vertical-align: middle;}
.order-detail .profile h6{ display: inline-block; vertical-align: middle; font-size: 13px; line-height: 16px; margin-left: 10px; margin-bottom: 0; }
.order-detail p{ margin-bottom: 10px;}
.order-detail address{     font-size: 16px;    line-height: 20px;    font-weight: 400;    color: #111419; margin-bottom: 10px; }
.order-detail a[href^="tel:"]{ margin-left: 5px;}
.order-detail a[href^="tel:"]:hover{ color: #111419; }

.order-detail table td{ padding: 10px 0;    font-size: 16px;    line-height: 20px;    font-weight: 400;    color: #111419;}
.order-detail table .red-color{ color: #C40000;}
.order-detail table .green-color{ color: #0AD188;}
.order-detail table tr:last-child{ border-top: 1px solid #C5C5C5;}
.order-select-wrapper{     border: 2px solid #EFEFEF;    padding: 35px; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 25px; }
.order-select-wrapper .order-buttons .btn{     display: block;    min-width: 150px;}
.order-select-wrapper .order-buttons .btn + .btn{ margin-top: 15px;}
.order-select-wrapper .order-product{ display: flex; align-items: center; flex-wrap: wrap; }
.order-select-wrapper .order-product img{ max-width: 150px; margin-right: 20px;}
.order-select-wrapper .order-product .order-product-content p{ font-size: 14px; margin-bottom: 5px; }
.order-select-wrapper .order-product .order-product-content p:last-child{ margin-bottom: 0;}
.order-select-wrapper .order-product .order-product-content{ height: auto;  }
.order-select-wrapper .order-product .order-product-content span{ display: block; font-size: 16px; line-height: 22px; font-weight: 600; }
.order-select-wrapper .form-check.order-checkbox .form-check-input {width:1.5em;height: 1.5em;}


a.btn.cancle {    background-color: #C40000;    border: 1px solid #C40000;}
a.btn.cancle:hover {    color: #C40000;  background-color: transparent;}

#sla-certificate .modal-content{ text-align: left; }
#sla-certificate form + p{ text-align: center;}

.add-store-wrapper{ padding: 30px 0 100px;}
.add-store-wrapper .breadcrumb{ margin-bottom: 30px;}

.file-upload-icon input[type='file']{ opacity: 0;}
.file-upload-icon h5{     padding: 16px 20px;    border-radius: 7px !important;    font-size: 16px;    color: #000;    line-height: 22px;    border-color: #C5C5C5 !important;    border: 1px solid #ced4da;    position: absolute;    width: 100%;    top: 0;    left: 0; pointer-events: none; font-weight: 400;  background-image: url(../images/img/paperclip.png); background-repeat: no-repeat; background-position: calc(100% - 20px) center; }
.form-control:focus{ color: #111419;}
::-webkit-input-placeholder {color: #C5C5C5 !important; }
:-ms-input-placeholder {color: #C5C5C5 !important;}  
::placeholder {color: #C5C5C5 !important;}
.nice-select.form-select{color: #111419 !important; }

.add-store-wrapper input[type='checkbox'] + label{ margin-left: 10px !important; }
.modal .file-upload-icon h5{ text-align: left !important; text-transform: none; } 

.business-profile-seller .follow-btn ul{ padding-left: 0; }
.business-profile-seller .follow-btn ul li::marker{ content: none;}
.business-profile-seller .follow-btn ul li a{ display: block; }
.business-profile-seller .follow-btn ul li + li{ margin-top: 15px;}
/* .business-profile-seller .follow-btn .btn.trans-btn {    background-color: transparent;    border: 1px solid #0AD188;    color: #0AD188 !important;} */

.add-store-wrapper .form-group.col-md-4{     margin: 20px auto 0 !important;    padding: 0 8px;}
.login.logout #logout img {height:36px; width:36px; object-fit:cover; border-radius: 100px;}

#Uploading-Story .file-upload-div img{ border-radius: 0; }

.role-user {    text-align: center;    padding: 20px;    box-shadow: 0 0 15px rgb(0 0 0 / 20%);    border-radius: 5px; position: relative; margin-bottom: 30px; }
.role-user ul{ padding-left: 0; display: flex; flex-wrap: wrap; margin-top: 15px; text-align: left; }
.role-user ul li{ position: relative; max-width: 50%; flex: 0 0 50%;}
.role-user ul li::marker{ content: none;}
.role-user .edit{     position: absolute;    right: 0;    top: 15px;    right: 10px; z-index: 9;}  
.role-user .edit i:hover ul{ opacity: 1; visibility: visible;  }
.role-user .edit i{ cursor: pointer;}
.role-user .edit ul {    background-color: #fff; position: absolute;    width: 100px;    right: 0;    padding: 5px 10px;    box-shadow: 0 0 10px rgb(0 0 0 / 20%);    border-radius: 5px; margin: 0;  display: none;}
.role-user .edit a:hover ul{ opacity: 1; visibility: visible; pointer-events: auto; }
.role-user .edit ul li{ max-width: 100%; flex: 0 0 100%; }
.role-user img{ max-width: 70px; margin-bottom: 10px; }
.role-user h5{     font-size: 18px;    color: #0AD188;    line-height: 24px;    font-weight: 500;}
.role-user a{ font-size: 14px; line-height: 20px; color: #111419; }
.role-listing-position-wrapper{  padding: 30px 0 70px; }
.role-listing-position-wrapper .row:first-child{ margin-bottom: 30px;  align-items: center; }
.role-listing-position-wrapper .row:first-child .col-md-6:last-child{ text-align: right;}
.role-listing-position-wrapper .row .row{ margin-bottom: 0;}
.role-user .edit i{     color: #262E3A;    font-size: 20px;    line-height: 26px; padding: 0 10px; }

.role-listing-position-wrapper .button {    display: flex;    padding: 11px 8px;    margin-bottom: 10px;    background: transparent;    border: 1px solid #C9C9C9;    border-radius: 0px;    color: #262E3A;    font-family: sans-serif;    font-size: 15px;    transition: all 0.5s ease 0s;    cursor: pointer;    width: 100%;    justify-content: flex-start;    align-items: center;}
.role-listing-position-wrapper .button img{    max-width: 50px;    margin-right: 16px;}
.role-listing-position-wrapper .button:hover {  background-color: #0AD188;  color: #fff;  border-color: #0AD188;}
.role-listing-position-wrapper .button:active,.button.is-checked {  background-color: #0AD188;  border-color: #0AD188;  color: #fff;}
.form-control::file-selector-button{display: none;}


@media all and (max-width: 767px) {
    .order-detail .order-detail-content .delivery-address {        max-width: 100%;        flex: 0 0 100%;    margin-bottom: 15px; }
    .order-detail .order-detail-content .payment-method {       max-width: 100%;        flex: 0 0 100%;   padding-bottom: 15px;  }
    .order-detail .order-detail-content .payment-details {      max-width: 100%;        flex: 0 0 100%;    }
    .order-details-wrapper .row:first-child .btn{ margin-top: 15px; }
    .order-detail .order-detail-content {        padding: 35px 20px 25px; }
    .order-select-wrapper{    padding: 35px 20px 25px;  }

    .order-select-wrapper .order-product{ max-width: 100%; flex: 0 0 100%; }
    .order-select-wrapper .order-buttons{ max-width: 100%; flex: 0 0 100%; margin-top: 25px; }
    
}