.modal-content.review{
    background-size: cover;
}

.modal-dialog.review{
    max-width: 778px;
}

.rating-sec{
    display: flex;
    justify-content: space-between;
}

.rating-left-sec{
    text-align: left;
}

.rating-left-sec h3{
    margin-bottom: 0;
}

.btn-review{
    background-color: #0AD188;
    border: 1px solid #0AD188;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
}
.review-icon{
    margin-right: 5px;
}
.review-score-container {
    padding: 15px 0 17px;
    display: flex;
    align-items: center;
}
.review-score-container h3{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate.inner{
    height: 0;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate.inner:not(:checked) > label{
    font-size:20px;
}
.rate.new-review:not(:checked) > label{
    font-size:40px;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.review-block{
    border-bottom: 1px solid #ecedef;
    padding: 28px 0;
}
.customer-review{
    display: flex;
    align-items: center;
}

.review-img{

    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.review-img img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.review-content{
    text-align: left;
}
.review-content h5{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 15px;
}
.review-content span{
    color: #70757a;
    display: inline-block;
    font-size: 13px;
}
.review-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dots img{
    width: 20px;
    height: 20px;
}
.review-time-sec{
    display: flex;
    padding: 0 10px 0 47px;
}
.customer-review-content p{
    text-align: left;
    padding-left: 47px;
}

.new.review-time-sec{
    justify-content: center;
    padding: 16px 32px 0;
}
.modal-content.new-review{
    padding: 50px;
}
.new-user-review{
    padding-top: 16px;
}
.new-user-review textarea{
    padding: 16px;
    border-radius:8px;
}
.file-upload-div.review{
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px !important;
    justify-content: center;
    border: 2px solid #dadce0;
    padding: 10px;
    margin-top: 15px;
}
.file-upload-div.review img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.btn-cancle, .btn-post{
    padding: 0 23px 0 23px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #0AD188;
    color: #0AD188;
    font-size: 14px;
    border-radius: 8px;
}
.btn-cancle:hover, .btn-post:hover{
    background-color: #0AD188;
    color: #fff;
}
.btn-cancle{
    margin-right: 10px;
}
.review-btn-sec{
    text-align: right;
}
a#review_profile img {
    width: 36px;
    height:36px;
    border-radius: 136px;
}

h4.text-center.mt-2.mb-4.star_ratting i {
    color: #ccc;
}

.responseData {
    height: 300px;
    overflow-y: scroll;
}

a.btn.btnReviewModel {
    padding: 10px 10px;
}

.inner-product-box{
    display: flex;
}
.product-box-btn{
    margin-right: 20px;
}
a.cancel_orders_redirect{
    background-color: #0AD188;
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}
.review_submit_btn_mute{
    border: 1px solid #ccc;
    color: #ccc;
   
}
.review_submit_btn_mute:hover {
    background-color:#ccc;
    color: #fff;
}